<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- configure the file writer, logging in TTCC-layout -->
    <appender name="FILEWRITER" class="org.apache.log4j.FileAppender">
        <param name="File" value="i:/programming/src/AppLog.log" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%r [%t] %-5p %c %x - %m\n"/>
        </layout>
    </appender>
    
    <!-- configure the console writer, logging in a derived TTCC-layout -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>
    
    <!-- configure the logger -->
    <logger name="de.indisopht" additivity="false">
        <level value="ALL" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <!-- root config -->
    <root>
        <priority value="all"/>
    </root>
</log4j:configuration>